.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 4px 0px 0px 0px;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
  font-weight: 500;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  height: 16px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__nav-icon {
  font-size: 1.8rem;
  margin: 0 6px;
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

/* Header QRCODE */
.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 120%;
  padding: 8px;
  display: none;
  animation: fadeIn ease-in 0.5s;
}

.header__qr::before {
  position: absolute;
  content: "";
  left: 0;
  top: -20px;
  width: 100%;
  height: 18%;
  display: block;
}

.header__qr-img {
  width: 100%;
  border-radius: 2px;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-link:nth-child(1) {
  margin-left: 11px;
}

.header__qr-link:nth-child(2) {
  margin-right: 11px;
}

.header__qr-download-img {
  height: 16px;
  margin-top: 10px;
}

/* header__notify */

.header__notify {
  z-index: 1;
  position: absolute;
  top: 120%;
  right: 0;
  width: 404px;
  border: 1px solid #d3d3d3;
  background-color: var(--white-color);
  cursor: default;
  transform-origin: calc(100% - 20px) top;
  animation: headerNotifyGrowth ease-in 0.2s;
  will-change: opacity, transfrom;
  display: none;
}

.header__notify::before {
  content: "";
  border-width: 20px 26px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 0;
  top: -30px;
}

.header__notify::after {
  content: "";
  border-width: 20px 26px;
  display: block;
  position: absolute;
  right: 0;
  top: -18px;
  width: 100px;
  height: 25px;
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-header h3 {
  color: #666;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  cursor: text;
  user-select: none;
  -webkit-user-select: none;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  display: flex;
}

.header__notify-item:hover {
  background-color: hsla(0, 2%, 53%, 0.158);
}

.header__notify-item--viewed {
  background-color: rgba(237, 78, 46, 0.08);
}

.header__notify-link {
  display: flex;
  width: 100%;
  padding: 12px;
  text-decoration: none;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 550;
  line-height: 1.8rem;
}

.header__notify-descroition {
  display: block;
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: #756f6e;
  margin-top: 4px;
}

.header__notify-footer {}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  width: 100%;
  padding: 8px 16px;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  display: block;
}

/* Authen modal */

.authen-form {
  width: 500px;
  max-width: 100%;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 12px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 550;
  cursor: pointer;
}


.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border-radius: 2px;
  border: 1px solid var(--boder-color);
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}


.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  color: var(--text-color);
  line-height: 1.8rem;
  text-align: center;
  padding: 0 2px;
}

.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
}

.auth-form__control-back {
  margin-right: 8px;
  background-color: var(--white-color);
}

.auth-form__socials {
  background-color: #F5F5F5;
  padding: 16px 34px;
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #3A5A98;
}

.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}

.auth-form__socials-title {
  margin: 0 20px;
}

.auth-form__socials--google {
  color: #666;
  background-color: var(--white-color);
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  height: 22px;
  margin: 1px 16px 0;
  border-left: 1px solid #EAEAEA;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* login */
.auth-form__help {
  display: flex;
  justify-content: end;
  align-items: center;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
  cursor: pointer;
}

.auth-form__help-separate {
  display: block;
  height: 15px;
  margin: 0 16px;
  border-left: 1px solid var(--boder-color);
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* <!-- header with search --> */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__logo {
  width: 20%;
}

.header__logo-img {
  width: 200px;
  height: 88px;
}

.header__search {
  width: 68%;
  height: 40px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}

.header__search-select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  margin: 0px 16px 0px 8px;
  position: relative;
  top: 1px;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input:focus~.header__search-history {
  display: block;
}

.header__search-history {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 5px rgb(189, 189, 189);
  overflow: hidden;
  display: none;
}

.header__search-history-heading {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 500;
}

.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0;
}

.header__search-history-item {
  height: 38px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
}

.header__search-history-item:hover {
  background-color: #fafafa;
}

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  display: inline-block;
  flex: 1;
  z-index: 1;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 4px;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 36px;
  width: 60px;
  border-radius: 3px;
  margin-right: 3px;
  outline: none;
}

.header__search-btn:hover {
  background-color: #fe6433;
  cursor: pointer;
}

.header__search-btn-icon {
  font-size: 1.6rem;
  color: var(--white-color);
}

.header__search-option {
  position: absolute;
  right: 0;
  top: 100%;
  width: 135px;
  list-style: none;
  box-shadow: 0 1px 1px #ccc;
  padding-left: 0;
  margin-top: 16px;
  /* overflow: hidden; */
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 25px;
  top: -20px;
}

.header__search-option-item {
  background-color: var(--white-color);
  padding: 10px;
}

.header__search-option-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 13px;
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

.header__cart {
  width: 12%;
  text-align: center;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0px 6px;
  cursor: pointer;
}

.header__cart-icon {
  color: var(--white-color);
  font-size: 2.6rem;
}

.header__cart-icon {}


.header-__cart-notice {
  position: absolute;
  top: -10px;
  left: 70%;
  padding: 2px 6px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
  color: var(--primary-color);
  background-color: var(--white-color);
}

.header__cart-list {
  width: 400px;
  position: absolute;
  top: calc(100% + 15px);
  right: -10px;
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn ease-in 0.5s;
  cursor: default;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-list::after {
  cursor: pointer;
  content: "";
  position: absolute;
  right: 2px;
  top: -32px;
  border-width: 21px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list-no-card {
  padding: 24px 0px;
}

.header__cart-list-no-card .header__cart-no-cart-img,
.header__cart-list-no-card .header__cart-list-no-card-msg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header__cart-no-cart-img {
  width: 50%;
  display: none;
}

.header__cart-list-no-card-msg {
  display: none;
  font-size: 1.4rem;
  margin-top: 12px;
  color: var(--text-color);
}

/* <!-- header__cart-list-card --> */
.header__cart-heading {
  text-align: left;
  margin: 8px 0px 8px 12px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #999;
}

.header__cart-list-item {
  padding-left: 0;
  list-style: none;
}

.header__cart-item {
  display: flex;
}

.header__cart-img {
  width: 42px;
  height: 42px;
  margin: 12px;
}

.header__cart-item-info {}

.header__cart-item-header {
  display: flex;
  a
}

.header__cart-item-name {}

.header__cart-item-price {}

.header__cart-item-multiply {}

.header__cart-item-qnt {}

.header__cart-item-body {}

.header__cart-item-description {}

.header__cart-item-remove {}

.btn {}

.btn--primary {}