.header {
  height: 120px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar {
  display: flex;
  
}
.header__navbar-list {
  list-style: none;
  display: flex;
}
.header__navbar-item {
}
.header__navbar-item-link {
}
