.header {
  height: 120px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__navbar-list {
  list-style: none;
  /* display: flex; */
  padding-left: 0;
}
.header__navbar-item {
  margin: 0 8px;
  p
}
.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.header__navbar-item--strong {
font-weight: 600;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
}